.wrapper {
    position: relative;
}

.content {
    padding: 160px 0;
    margin: 0 auto;
    max-width: 1200px;
}

@media (max-width: 1280px) {
    .content {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.content__centered {
    text-align: center;
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list--figure {

}

.list--social {
    margin-bottom: 80px;
}

.list--social .list-item {
    margin-bottom: 0;
    display: inline-block;
    margin: 0 20px 0;
}

.list--social .link {

}

.list-item {
    margin-bottom: 200px;
}

.list-item:last-child {
    margin-bottom: 0;
}

.list-item__reversed.list-item {

}

.list--figure .list-item {

}

.figure {
    display: table;
}

.figure-image {
    vertical-align: top;
    width: 300px;
    display: table-cell;
}

.figure-image img {
    display: inline-block;
    width: 300px;
    height: 300px;
    border: 6px solid #000;
    border-radius: 50%;
}

.figure-caption {
    vertical-align: middle;
    display: table-cell;
    box-sizing: border-box;
    padding-left: 80px;
    max-width: 680px;
}

.list-item__reversed .figure-caption {
    padding-left: 0;
    padding-right: 80px;
}

.figure-title {
    font-family: 'AvenirNextCondensed-Bold', sans-serif;
    font-size: 36px;
    letter-spacing: 2px;
    color: #000;
    margin-top: 0;
    margin-bottom: 120px;
    position: relative;
}

.figure-title:after {
    content: '';
    display: block;
    position: absolute;
    width: 400px;
    height: 3px;
    bottom: -60px;
    background-color: #81FCAD;
}

.figure-text {
    font-size: 24px;
    line-height: 32px;
    color: #9B9B9B;
}

.link {
    text-decoration: none;
}

.figure {
    margin: 0;
}


@media (max-width: 900px) {
    .figure {
        width: 100%;
    }

    .figure-caption,
    .figure-image {
        display: block;
        width: 100%;
        text-align: center;
        max-width: 100%;
    }

    .figure-caption {
        padding-left: 0;
    }

    .figure-image {
        margin-bottom: 40px;
    }

    .figure-title:after {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .figure-image img {
        width: 240px;
        height: 240px;
    }
}

@media (max-width: 450px) {
    .list--social .list-item {
        display: block;
        margin-bottom: 40px;
    }
}