.footer {
    width: 100%;
    border-top: 3px solid black;
    height: 354px;
    background: #81FCAD;
}

.footer-inner {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

.footer-text {
    margin: 0 0 16px;
    font-size: 16px;
}

.link-image--appstore {
    height: 45px;
    width: 153px;
}
