.header {
    background: #81FCAD;
    margin: 80px auto 0;
    padding-bottom: 160px;
    border-bottom: 3px solid black;
}

.header-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding-right: 480px;
}

.header-promo {
    position: absolute;
    width: 320px;
    height: 651px;
    background-color: white;
    top: -95px;
    right: 0;
    text-align: center;
}

.header-phone {
    width: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-screenshot {
    width: 276px;
    position: absolute;
    top: 78px;
    left: 22px;
    z-index: 0;
}

@media (max-width: 1280px) {
    .header-promo {
        display: none;
    }

    .header-wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.header-inner {
    text-align: center;
}

.header-logo {
    position: relative;
    margin-top: -150px;
}

.header-info {
    margin-top: 80px;
}

.header-info a {
    border-bottom: 2px solid white;
}

.header-info .header-signup,
.footer-signup {
    line-height: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 12px;
    z-index: 2;
    border-bottom: 3px solid black;
    border: 3px solid black;
    border-radius: 8px;
    position: relative;
    font-weight: bold;
    background-color: transparent;
    outline: none;
}

.header-signup:before,
.footer-signup:before {
    content: '';
    display: block;
    position: absolute;
    background-color: white;
    border-radius: 8px;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease-out;
    transform: skew(6deg) scaleY(1.25) translateX(-10px) rotate(-1deg);
}

.header-signup:after,
.footer-signup:after {
    content: '';
    display: block;
    border: 3px solid black;
    border-radius: 8px;
    z-index: 12;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -3px;
    right: 0;
    bottom: 0;
    left: -3px;
}

.header-signup:hover,
.footer-signup:hover  {
    /*padding-bottom: 12px;*/
}

.header-signup:hover:before,
.footer-signup:hover:before {
    transition: all 0.3s ease-out;
    transform: skew(-2deg) scaleY(1.6) translateX(10px) rotate(-2deg);
}

@media (max-width: 1200px) {
    .header-logo {
        margin-top: -180px;
    }
}

@media (max-width: 1000px) {
    .header-logo {
        margin-top: -160px;
    }
}

@media (max-width: 900px) {
    .header-logo {
        margin-top: -150px;
    }
}

@media (max-width: 800px) {
    .header-logo {
        margin-top: -140px;
    }

    .header {
        text-align: center;
    }

    .header-signup,
    .header-info i {
        display: block;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
    }

    .header-info i {
        margin-bottom: 1em;
    }
}

@media (max-width: 600px) {
    .header-logo {
        margin-top: -110px;
    }

    .header {
        margin-top: 60px;
    }
}

@media (max-width: 500px) {
    .header-logo {
        margin-top: -70px;
    }

    .header {
        margin-top: 40px;
    }
}

@media (max-width: 400px) {
    .header-logo {
        margin-top: -60px;
    }

    .header {
        margin-top: 40px;
    }
}